################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/SharedFol/v16/Browse.VC.opendb
/.vs/SharedFol/v16/Browse.VC.db-wal
/.vs/SharedFol/v16/Browse.VC.db-shm
/.vs/SharedFol/v16/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/SharedFol/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/SharedFol/v17/Preview/Browse.VC.db-shm
/.vs/SharedFol/v17/Preview/Browse.VC.db-wal
/.vs/SharedFol/v17/Preview/Browse.VC.opendb
/.vs/SharedFol/v17
/.vs/SharedFol/FileContentIndex
/.vs